{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body p-5">
                        <h1 class="h2 mb-4">📂 {{ category.name }}</h1>
                        
                        <div class="card mb-4 border-0 bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Description</h5>
                                <p class="card-text">{{ category.description }}</p>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-6">
                                <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-lg btn-warning w-100">✏️ Éditer</a>
                            </div>
                            <div class="col-6">
                                <a href="{{ path('app_category_index') }}" class="btn btn-lg btn-secondary w-100">⬅️ Retour</a>
                            </div>
                        </div>

                        {{ include('category/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
